@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

header {
    background-color: #1E71FF;
}

.container {
    max-width: 1320px;
    padding-right: 12px;
    padding-left: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
    align-items: center;
    justify-content: center;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
}

.col-4 {
    width: 33.33%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-4-1 {
    width: 50%;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.page-1 {
    background-color: #1E71FF;
}

.page-3 {
    background-color: #e1f1ff;

}

.js-center {
    justify-content: center;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.text-align {
    text-align: center;
}

.js-space {
    justify-content: space-between;
}

.txt-chat {
    font-family: 'Poppins'sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: white;
}

.txt-app {
    font-family: 'Poppins'sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 26px;
    color: white;
}

.header-txt {
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: white;
    margin-right: 30px;
}

.header-btn-tif {
    padding: 12px 24px;
    border-radius: 210px;
    background-color: #4B8DFF;
}

.pt-30 {
    padding-top: 30px;
}

.page-1-heading {
    font-family: 'Poppins'sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 75px;
    color: white;
    max-width: 499px;
}

.page-1-para {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: white;
}

.btn-1 {
    background: #FFFFFF;
    border-radius: 60px;
    color: #1E71FF;
    padding: 16px 48px;
    display: inline-block;
    margin-right: 30px;
    margin-top: 60px;
}

.btn-2 {
    border: 1px solid #ffffff;
    border-radius: 60px;
    color: white;
    padding: 16px 48px;
}

.hero-img {
    width: 100%;
}

.pt-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-2-heading {
    padding-top: 90px;
    font-family: 'Poppins'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #2B353E;
    padding-bottom: 30px;
}

.page-2-para {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 566px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    color: rgba(43, 53, 62, 0.7);
}

.mock-img {
    width: 100%;
    padding-bottom: 100px;
}

.pstn-rel {
    position: relative;
}

.mock-img2 {
    position: absolute;
    left: -1px;
    width: 100%;
    bottom: -254px;
}

.page-3-heading {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    padding-bottom: 30px;
    width: 467px;
    padding-top: 90px;
    margin-top: 10px;
}

.page-3-para {
    color: rgba(43, 53, 62, 0.7);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}

.line {
    width: 167px;
    border: 1px solid #CDD5E2;
}

.btn-3 {
    background: #1E71FF;
    border-radius: 60px;
    padding: 14px 45px;
    color: white;
    margin-right: 30px;

}

.btn-4 {
    border: 1px solid #1E71FF;
    padding: 14px 40px;
    border-radius: 210px;
    color: #1E71FF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;

}

.mt-60 {
    margin-top: 60px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mt-40 {
    margin-top: 40px;
}

.rating-txt {
    display: flex;
}

.page-3-ml-100 {
    margin-left: 100px;
}

.icon-stars {
    margin-right: 25px;
}

.page-3-rating-txt-1 {
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: rgba(43, 53, 62, 0.7);
    width: 274px;
}

.page-3-rating-txt-2 {
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(43, 53, 62, 0.7);
}

.footer-chatapp1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #1E71FF;
    font-size: 26px;
    padding-bottom: 18px;
}

.footer-chatapp2 {
    font-family: 'Poppins ', sans-serif;
    font-style: normal;
    font-weight: 275;
    font-size: 26px;
    color: #1E71FF;
}

.footer-para {
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(43, 53, 62, 0.7);
}

.footer-copyright {
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: rgba(43, 53, 62, 0.7);
    padding-bottom: 30px;
    margin-top: 100px;
    padding-top: 80px;
}

.gap {
    gap: 50px;
    display: flex;
}

.pt-90 {
    padding-top: 90px;
}

.mb-40 {
    margin-bottom: 40px;
}

.footer-menu-1 {
    margin-right: 90px;
}

.footer-menu-text-main {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #2B353E;
}

.footer-menu-text-para {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: rgba(43, 53, 62, 0.7);
}
#txt-copyright{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 161.7%;
    color: rgba(43, 53, 62, 0.7);
}

.pb-12 {
    padding-bottom: 12px;
}

.wh-130px {
    width: 130px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-90 {
    padding-bottom: 90px;
}


.mt-62 {
    margin-top: -62px;
}




@media (max-width:576px) {
    .nav-bar-head{
        opacity: 0;
        position: fixed;
        top: 0;
        left: -100;
        height: 100%;
        width: 100%;
        flex-direction: column;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        background-color:#1E71FF;
        
    }
    

    input[type="checkbox"]:checked+ul.nav-bar-head {
        opacity: 1;
        left: 0;
    }

    label[for="icon-box"] {
       height: 35px;
       width: 50px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       z-index: 1;

    }

    label[for="icon-box"]>span{
        background-color: #FFFFFF;
        height: 3px;
        border-radius: 5px;
        width: 30px;
    }



}





@media (min-width:320px) {

    .col-6-xs {
        width: 100%;
    }

    .page-1-heading-xs {
        font-size: 30px;
        margin-top: -76px;
    }

    .col-4-xs {
        width: 100%;
    }

    .page-1-para-xs {
        font-size: 9px;
        margin-top: -11px;
    }

    .btn-1-xs {
        padding: 5px 8px;
        font-size: 12px;
        margin-top: 11px;
    }

    .hero-img-xs {
        margin-top: 27px;
        margin-bottom: -68px;
    }

    .page-2-heading-xs {
        font-size: 30px;
        margin-top: -75px;
    }

    .col-12-xs {
        width: 100%;
    }

    .page-2-para-xs {
        font-size: 12px;
        max-width: 100%;
        margin-top: -26px;
    }

    .mock-img-xs {
        margin-bottom: -98px;
    }

    .mockup-img2-xs {
        top: 27px;
    }

    .page-3-heading-xs {
        width: 100%;
        font-size: 20px;
        margin-top: -71px;
        margin-left: -99px;
    }

    .page-3-para-xs {
        font-size: 12px;
        margin-left: -99px;
        margin-top: -26px;
    }

    .pstn-unset {
        position: unset;
        width: 100%;
    }

    .btn-3-4-xs {
        margin-left: -86px;
        margin-top: 14px;
    }

    .btn-3-xs {
        padding: 8px 10px;
        margin-left: -13px;
        font-size: 12px;
    }

    .line-xs {
        margin-left: -93px;
        margin-top: -60px;
    }

    .rating-txt-xs {
        margin-left: -93px;
        margin-top: 0px;
    }

    .page-3-rating-txt-1-xs {
        font-size: 12px;
        margin-top: 13px;
    }

    .page-3-rating-txt-2-xs {
        font-size: 12px;
    }

    .icon-stars-xs {
        margin-top: -11px;
    }

    .col-4-xs-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer-chatapp1-xs {
        margin-top: -77px;
    }

    .footer-para-xs {
        font-size: 10px;
        margin-top: -18px;
    }

    .footer-menu-1-xs {
        margin-top: 43px;
        margin-left: -42px;
    }

    .footer-menu-2-xs {
        margin-top: 44px;
        margin-left: -33px;
    }

}


@media (min-width:576px) {


    .page-1-heading-sm {
        font-size: 57px;
    }

    .page-1-para-sm {
        font-size: 17px;
    }

    .btn-1-sm {
        padding: 12px 30px;
        font-size: 12px;
    }

    .btn-2-sm {
        padding: 12px 30px;
        font-size: 12px;
    }

    .hero-img {
        width: 50%;
    }

    .page-2-heading-sm {
        font-size: 36px;
    }

    .page-2-para-sm {
        width: 70%;
        margin-bottom: -53px;
    }

    .mockup-img2-sm {
        width: 80%;
        margin-top: 20px;
    }

    .page-3-heading-sm {
        font-size: 35px;
        margin-top: -86px;
        width: 77%;
    }

    .btn-3-4-sm {
        margin-top: 25px;
    }

    .btn-3-sm {
        padding: 12px 35px
    }

    .line-sm {
        margin-bottom: 10px;
        margin-top: -49px;
    }

    .rating-txt-sm {
        margin-top: 25px;
        margin-bottom: -50px;
    }

    .page-3-rating-txt-1-sm {
        margin-top: -5px;
        width: 28%;
    }

    .footer-menu-2-sm {
        margin-left: 20px;
    }

    label {
        display: none;
    }
}

@media (min-width:768px) {
    .col-6-md {
        width: 50%;
    }

    .page-1-heading-md {
        font-size: 65px;
    }

    .page-1-para-md {
        font-size: 12px;
    }

    .hero-img-md {
        width: 100%;
    }

    .col-6-md {
        width: 50%;
    }

    .mockup-img2-md {
        width: 85%;
        margin-top: -7px;
    }

    .page-3-heading-md {
        font-size: 25px;
        width: 100%;
        margin-top: -33px;
    }

    .page-3-rating-txt-1-md {
        width: 42%;
    }

    .col-4-md {
        width: 33.33%;
        display: flex;
        flex-direction: row;
        margin-left: 101px;
    }

    .footer-menu-1-md {
        margin-left: -45px;
        margin-top: 18px;
    }

    .footer-menu-1-md-2 {
        margin-left: -23px;
    }

    .col-8-1-li-md {
        margin-right: 47px;
        width: 100%;
    }


}

@media (min-width:1200px) {
    .page-1-heading-lg {
        font-size: 89px;
    }

    .page-1-para-lg {
        font-size: 18px;
        margin-top: 10px;
    }

    .btn-1-lg {
        padding: 15px 39px;
        font-size: 16px;
        margin-top: 50px;
    }

    .btn-2-lg {
        padding: 15px 39px;
        font-size: 16px;
    }

    .page-2-heading-lg {
        font-size: 56px;
        margin-bottom: 16px;
    }

    .page-2-para-lg {
        width: 50%;
        font-size: 16px;
    }

    .page-3-heading-lg {
        font-size: 45px;
        margin-top: -62px;
    }

    .page-3-para-lg {
        font-size: 18px;
        margin-bottom: 35px;
    }

    .btn-3-lg {
        padding: 15px 41px;
        font-size: 14px;
    }

    .rating-txt-lg {
        margin-bottom: 20px;
    }

    .page-3-rating-txt-1-lg {
        width: 37%;
        font-size: 16px;
    }

    .page-3-rating-txt-2-lg {
        font-size: 16px;
    }


}